# CHALLENGE Part 3 Create a Travel Itinerary with a Corresponding Map

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [5]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Gainesville,US,91.00,29.65,-82.32,Wyndham Garden Gainesville
1,4,Jamestown,US,78.80,42.10,-79.24,Hampton Inn & Suites Jamestown
2,6,Salalah,OM,86.00,17.02,54.09,HAMDAN PLAZA HOTEL
3,8,Wuwei,CN,73.00,37.93,102.64,Thank Inn Chain Hotel gansu wuwei liangzhou di...
4,9,Saskylakh,RU,62.73,71.92,114.08,NaN

In [6]:
# Using template to add hotel marks to heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [7]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Aguilas"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Peniche"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Cabra"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cascais"]

In [9]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(37.41, -1.58)
(39.36, -9.38)
(37.47, -4.44)
(38.7, -9.42)

In [11]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"

)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [13]:
itinerary_df

     City_ID     City Country  Max Temp    Lat   Lng               Hotel Name
235      391  Aguilas      ES     75.99  37.41 -1.58         Hotel Carlos III
251      418  Peniche      PT     70.00  39.36 -9.38   Hotel Star inn Peniche
183      310    Cabra      ES     82.99  37.47 -4.44    MS Fuente Las Piedras
72       138  Cascais      PT     70.00  38.70 -9.42  Hotel Vila Galé Cascais

In [14]:
itinerary_df.reset_index(drop=True)

   City_ID     City Country  Max Temp    Lat   Lng               Hotel Name
0      391  Aguilas      ES     75.99  37.41 -1.58         Hotel Carlos III
1      418  Peniche      PT     70.00  39.36 -9.38   Hotel Star inn Peniche
2      310    Cabra      ES     82.99  37.47 -4.44    MS Fuente Las Piedras
3      138  Cascais      PT     70.00  38.70 -9.42  Hotel Vila Galé Cascais

In [15]:
# Using template to add hotel marks to heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))